@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Roboto+Slab&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    margin: 0.5rem;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#label {
    margin-right: -0.5rem;
}